/* src/styles/common/_base.scss */
@use "sass:color";
@use "variables" as *;
@use "mixins" as *;

.inner {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 $gutter;
}
.top-container {
  padding-top: $header-height;
}
h1, h2, h3, h4, h5 { font-weight: 600; line-height: 1.2; }
.text-muted { color: $color-muted; }

.btn-primary {
  background: $color-primary;
  color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 600;
  @include shadow-soft;

  &:hover {
     background: color.scale($color-primary, $lightness: -8%);  // ✅ 안정 버전
  }
}
header {
  position: fixed;
  z-index: 9;
  width: 100%;

}