@use "variables" as *;

@mixin respond-md { @media (max-width: $breakpoint-md) { @content; } }

@mixin shadow-soft { box-shadow: 0 4px 16px rgba(0,0,0,.08); }

@mixin text-ellipsis($lines:1){
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}