@mixin respond-md {
  @media (max-width: 76.8rem) {
    @content;
  }
}

@mixin shadow-soft {
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.08);
}

@mixin text-ellipsis($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}